body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color:darkslategray;
    color: white;
    padding: 35px;
    margin: 0px;
}

header > nav > a {
    color: whitesmoke;
    align-self: center;
    text-decoration: none;
    border: 10px, solid, whitesmoke;
    border-style: solid;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.2s;  
    margin-left: 15px;
}

a:hover {
    color:gray;
}

header > nav {
    align-self: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome_heading { 
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.welcome_page{
    text-align: center;
}


.welcome_bottom {
    text-align: center;
    margin-top: 50px;
}

.input_form {
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
}

#results_page {
    padding-left: 35px;
}


#play_button {
    color: white; 
    background-color: darkslategray; 
    border: 2px solid darkslategrey; 
    border-radius: 5px; 
    text-transform: uppercase; 
    padding: 11px;
    margin-left: 15px;
}

#name_selector {
    color: darkslategrey; 
    background-color: transparent; 
    border: 2px solid darkslategrey; 
    border-radius: 5px; 
    padding: 10px;
    margin-right: 15px;
}

#choice_selector {
    color: darkslategrey; 
    background-color: transparent; 
    border: 2px solid darkslategrey; 
    border-radius: 5px; 
    padding: 10px;
}
#play_button:hover {
    color: Gray;
}
