body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color:darkslategray;
    color: white;
    padding: 35px;
    margin: 0px;
}

header > nav > a {
    color: whitesmoke;
    align-self: center;
    text-decoration: none;
    border: 10px, solid, whitesmoke;
    border-style: solid;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.2s;    
}

a:hover {
    color:gray;
}

header > nav {
    align-self: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome_heading {
    padding: 20px;    
}

p {
    padding-left:25px;
}

h3 {
    text-align: center;
    margin-top: 50px;
}
