<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Rock, Paper, Scissors? You Choose!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="welcome">Welcome</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    
</body>
</html>