{% extends 'base.html' %}

{% block content %}

<section>
    <h2>Rock, Paper, Scissors? - You Decide!</h2>
        <form action="/" method="post">
            <label for="player_1">Enter your Name</label>
            <input type="text" name="player_1">
                <select name="player_1_choice" id="player_1_choice">
                    <option value="rock">Rock</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                </select>
                <input type="submit" name="Let's Play!">
        </form>
</section>

{% endblock %}