{% extends 'base.html' %}

{% block content%}
<section>
    <section class="input_form">
        <h2>Are you ready?</h2>

        <form action="/play" id="form_display" method="post">
            <input type="text" name="player_1_name" id="name_selector" placeholder="Enter your name:">
            <select name="player_1_choice" id="choice_selector">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
            <input type="submit" value="Play" id="play_button">
        </form>
    </section>
</section>



{% endblock %}