{% extends 'base.html' %}

{% block content %}
<h2 class="welcome_heading">Welcome</h2>
<p>Here is how to play Rock, Paper, Scissors</p>
<section>
    <p>Rock, paper, scissors(also known as roshambo) is a hand game usually played between two people</p>
    <p>These shapes are rock(a closed fist), paper(a flat hand) and scissors(a fist with index and middle finger extended)</p>
    <p>Rock crushes Scissors, Paper covers Rock and Scissors cuts Paper</p>
    <h3>Why don't you try it for yourself on this website</h3>

</section>

{% endblock %}