{% extends 'base.html' %}

{% block content %}
<section>
    <h2 class="welcome_heading">How To Play</h2>
    <section class="welcome_page">
        <p>Rock, paper, scissors(also known as roshambo) is a hand game usually played between two people.</p>
        <p>The shapes used are a rock(a closed fist), paper(a flat hand) and scissors(a fist with index and middle finger extended).</p>
        <p>Rock crushes Scissors, Paper covers Rock and Scissors cuts Paper</p>
        <h3 class="welcome_bottom">Why don't you try it for yourself on this website</h3>

    </section>
</section>

{% endblock %}